<div class="row border-item">
  <div class="col l-12">
    <a [routerLink]="[watch.id]" class="item-img-link">
      <img
        class="item-img"
        src="{{ watch.img }}"
        alt="">
    </a>
  </div>
  <button class="product-tile__wishlist">
    <svg *ngIf="!watch.isWishList" width="18px" height="18px" viewBox="0 -0.5 32 32" version="1.1"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
         fill="#000000">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier"><title>heart-like</title>
        <desc>Created with Sketch Beta.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
          <g id="Icon-Set" sketch:type="MSLayerGroup" transform="translate(-100.000000, -880.000000)" fill="#000000">
            <path
              d="M128,893.682 L116,908 L104,893.623 C102.565,891.629 102,890.282 102,888.438 C102,884.999 104.455,881.904 108,881.875 C110.916,881.851 114.222,884.829 116,887.074 C117.731,884.908 121.084,881.875 124,881.875 C127.451,881.875 130,884.999 130,888.438 C130,890.282 129.553,891.729 128,893.682 L128,893.682 Z M124,880 C120.667,880 118.145,881.956 116,884 C113.957,881.831 111.333,880 108,880 C103.306,880 100,884.036 100,888.438 C100,890.799 100.967,892.499 102.026,894.097 L114.459,909.003 C115.854,910.48 116.118,910.48 117.513,909.003 L129.974,894.097 C131.22,892.499 132,890.799 132,888.438 C132,884.036 128.694,880 124,880 L124,880 Z"
              id="heart-like" sketch:type="MSShapeGroup"></path>
          </g>
        </g>
      </g>
    </svg>
    <svg *ngIf="watch.isWishList" width="18px" height="18px" viewBox="0 -1 32 32" version="1.1"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
         fill="#000000">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier"><title>heart-like</title>
        <desc>Created with Sketch Beta.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
          <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-102.000000, -882.000000)"
             fill="#000000">
            <path
              d="M126,882 C122.667,882 119.982,883.842 117.969,886.235 C116.013,883.76 113.333,882 110,882 C105.306,882 102,886.036 102,890.438 C102,892.799 102.967,894.499 104.026,896.097 L116.459,911.003 C117.854,912.312 118.118,912.312 119.513,911.003 L131.974,896.097 C133.22,894.499 134,892.799 134,890.438 C134,886.036 130.694,882 126,882"
              id="heart-like" sketch:type="MSShapeGroup"></path>
          </g>
        </g>
      </g>
    </svg>
  </button>
  <div class="col l-12 text-align--center">
    <div class="product-line-item__header">
      <div class="product-name text-align--center width100">
        <a [routerLink]="[watch.id]" class="product-name-link ">{{ watch.name }}</a>
      </div>
    </div>
    <div class="product-desc">
      <p [routerLink]="[watch.id]" class="description" style="cursor: pointer">{{ watch.description }}</p>
    </div>
    <div class="product-price">
      <div class="price-sales">{{ watch.price | currency }}</div>
    </div>
  </div>
  <div class="col l-12" style="margin-top: 16px; min-height: 38px">
    <button class="button button--primary width100 hide-button">ADD TO BAG</button>
  </div>
</div>
