.login {
  margin-top: 86px;
}

.login__tab-list {
  margin: 80px 0;
  text-align: center;
}

.login__tab-item {
  font-size: 26px;
  text-decoration: none;
  color: var(--text-color);
  margin: 0 27px;
  cursor: pointer;
  user-select: none;
}

.login__tab-item:hover {
  text-decoration: underline;
}

.active {
  -webkit-text-stroke-width: 0.0625rem;
  text-decoration: underline;
}

.tab-content {
  margin: 0 150px 80px;
  min-height: 500px;
  padding: 80px 0;
  background-color: #f9f9f9;
}

.form {
  width: 376px;
  margin: auto;
}

/* login, register form */
.form-intro {
  margin-bottom: 28px;
  color: var(--text-color);
}

.form-group {
  position: relative;
  margin-bottom: 45px;
}

.form-required {
  text-align: right;
  font-size: 17px;
  color: #8c8c8c;
}


.form-forgot {
  margin-bottom: 16px;
}

.forgot-link {
  font-size: 14px;
  color: var(--text-color);
}

.policy-link {
  color: var(--text-color);
}

.forgot-link:hover, .policy-link:hover {
  opacity: .6;
}

/* register form */

.form-control-label {
  font-size: 17px;
  color: #8c8c8c;
  margin-bottom: 8px;
}

.form-check-group {
  display: flex;
  margin-top: -8px;
  margin-bottom: -22px;
}

.form-check__item {
  margin: 13px 32px 13px 0;
}

.form-check-label--radio {
  padding-left: 16px;
}

.form-control--select {
  width: 100%;
  height: 34px;
  border-top: none;
  font-size: 16px;
  color: var(--text-color);
  background-color: #f9f9f9;
  outline: none;
}
