.bag-modal {
  padding: 40px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40%;
  background-color: #fff;
  /*transform: translateX(100%);*/
  transition: all linear 0.2s;
  z-index: 1;
  text-align: center;
  display: block;
}

.bag-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/*.first-line {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  padding-bottom: 45px;*/
/*}*/
