<div class="background-full">
  <a href="" class="background-full-link">
    <img src="./assets/homePage/HERO_HEADER_PANTHERE-FIG_V1_2560x996.avif" alt="" class="background-full-img">
  </a>
  <div class="content">
    <h2 class="content-title text-align--center">
      {{ 'Panthère de Cartier' | uppercase }}
    </h2>
    <p class="content-desc text-align--center">
      Inspiring jewelry, watches, fragrances and accessories: the emblematic panther has been reinvented over time in
      naturalist, sculptural and graphic interpretations.
    </p>
    <div class="text-align--center content-button-link">
      <a href="" class="content-link">Discover more</a>
    </div>
  </div>
</div>
<div class="background-full">
  <a href="" class="background-full-link">
    <img src="./assets/homePage/HEADER_TANK_FRANCAISE_2560x996.avif" alt="" class="background-full-img">
  </a>
  <div class="content">
    <h2 class="content-title text-align--center">
      {{ 'Tank' | uppercase }}
    </h2>
    <p class="content-desc text-align--center">
      The shaped watch par excellence.
    </p>
    <div class="text-align--center content-button-link">
      <a href="" class="content-link">Shop Tank</a>
    </div>
  </div>
</div>
<div class="background-full">
  <div class="row">
    <div class="col l-6">
      <a href="" class="background-full-link">
        <img src="./assets/homePage/HP Stacking Image- 1920x1494.avif" alt="" class="background-full-img">
      </a>
    </div>
    <div class="col l-6 flex">
      <div class="content center-col">
        <h2 class="content-title">
          {{ 'Stacking Stories' | uppercase }}
        </h2>
        <p class="content-desc">
          Every stack has a story. Rewrite the rules of stacking with style statements that express your personality.
        </p>
        <div class="content-button-link">
          <a href="" class="content-link">Find Your Stack</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="background-full">
  <a href="" class="background-full-link">
    <img src="./assets/homePage/1_HEADER_FIRST_CARTIER_NEL_2560x996 - Copie.avif" alt="" class="background-full-img">
  </a>
  <div class="content">
    <h2 class="content-title text-align--center">
      {{ 'The Cartier Icons' | uppercase }}
    </h2>
    <div class="text-align--center content-button-link">
      <a href="" class="content-link">Shop the collections</a>
    </div>
  </div>
</div>
<div class="background-full">
  <div class="row">
    <div class="col l-6">
      <a href="" class="background-full-link">
        <img src="./assets/homePage/02_DOUBLE_MODULE_PANTHERE_GRAPHIQUE_NEL&MAN&SFCC_1680x1377_B.avif" alt=""
             class="background-full-img">
      </a>
      <div class="content">
        <h2 class="content-title text-align--center">
          {{ 'The Cartier Icons' | uppercase }}
        </h2>
        <div class="text-align--center content-button-link">
          <a href="" class="content-link">Shop the collections</a>
        </div>
      </div>
    </div>
    <div class="col l-6">
      <a href="" class="background-full-link">
        <img src="./assets/homePage/book an appointment.avif" alt="" class="background-full-img">
      </a>
      <div class="content">
        <h2 class="content-title text-align--center">
          {{ 'The Cartier Icons' | uppercase }}
        </h2>
        <div class="text-align--center content-button-link">
          <a href="" class="content-link">Shop the collections</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="background-full">
  <div class="row">
    <div class="col l-6">
      <a href="" class="background-full-link">
        <img src="./assets/homePage/GAO Homepage Block - Validated.avif" alt="" class="background-full-img">
      </a>
    </div>
    <div class="col l-6 flex">
      <div class="content center-col">
        <h2 class="content-title">
          {{ 'NATURE THAT STRIKES A CHORD' | uppercase }}
        </h2>
        <p class="content-desc">
          The Exploratorium in San Francisco and the Fondation Cartier pour l’art contemporain are proud to present The
          Great Animal Orchestra. Step into an immersive audio-visual experience by Bernie Krause and United Visual
          Artists that celebrates our planet’s rich biodiversity, now through October 15th.
        </p>
        <div class="content-button-link">
          <a href="" class="content-link">Plan your visit</a>
        </div>
      </div>
    </div>
  </div>
</div>
