<footer style="">
  <div class="subscription-banner">
    <div class="flex">
      <div class="col l-4 l-o-4">
        <div class="subscription-banner__description text-align--center">
          SUBSCRIBE TO OUR NEWSLETTER
        </div>
        <div class="flex">
          <div class="col l-8" style="padding: 0;">
            <div class="form-group">
              <input type="text" class="form-input" required style="background-color: transparent">
              <span class="bar"></span>
              <label class="form-label">Email</label>
            </div>
          </div>
          <div class="col l-4" style="padding: 0;">
            <a href="" class="button button--primary">Subscribe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
