<form>
  <p class="form-intro">If you are already registered with Cartier, login here:</p>
  <div class="form-group">
    <p class="form-required">Required field*</p>
    <input type="text" class="form-input" required>
    <span class="bar"></span>
    <label class="form-label">Email address*</label>
  </div>
  <div class="form-group">
    <input type="text" class="form-input" required>
    <span class="bar"></span>
    <label class="form-label">Password*</label>
  </div>
  <div class="form-group">
    <div class="form-forgot">
      <a href="" class="forgot-link">Forgot your password?</a>
    </div>
    <div class="form-policy">
      <p class="policy-intro">Read the
        <a href="" class="policy-link">Privacy Policy</a>
        for further information
      </p>
    </div>
  </div>
  <div class="form-actions text-align--center">
    <button type="submit" class="button button--primary">Login</button>
  </div>

</form>
