<div class="row no-gutters">
  <div class="col l-6">
    <img class="width100" src="./assets/watches/CARTIER_HAUTEJO_1920x800_HEADER_ALL-WATCHES_V2.avif" alt="">
  </div>
  <div class="col l-6 description-card__content">
    <div style="width: 424px;">
      <h1 class="heading-type font-family--sans" style="font-size: 18px;">ALL WATCHES</h1>
      <div>
        <p class="descriptive-card__description font-family--serif">
          At Cartier, everything begins with the design. The Maison’s obsession for pure lines, precise shapes and
          precious details has led to design objects that defy the decades. Uncover the watch collections that have
          become
          emblems of design at Cartier: Tank, Santos, Panthère, Ballon Bleu and many more.</p>
      </div>
    </div>
  </div>
</div>
<div class="wide--primary">
  <div class="row">
    <div class="col l-3">
      <app-watches-filter-list></app-watches-filter-list>
    </div>
    <div class="col l-9">
      <app-watches-list></app-watches-list>
    </div>
  </div>
</div>
